# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environment
.venv/
env/
ENV/
venv/
*.egg-info/

# Dataset and model files (tracked separately if needed)
*.csv
*.zip
*.tar.gz
*.tar
*.npy

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
